.logo {
    height: 30px;
    width: 30px;
    
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home {
    width: 50%;
}

.heading
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-blue);
  box-sizing: border-box;
  width: 710px;
  height: 60px;
  text-align: center;
  clip-path: polygon( 0 33.3%, 5% 0, 95% 0, 100% 33.3%, 100% 66.6%, 95% 100%, 5% 100%, 0 66.6%);
}
.home-title {
    position: relative;
    right: 27%;
    color: var(--white);
}
.menu-title {
    position: relative;
    right: 45%;
    color: var(--white);

}
a{
    text-decoration: none;
}

header
{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2d4938;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}
.highlight {
    color: var(--dark-orange);
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d4938;
    color: var(--white);
}


.selected {
    background-color: var(--yellow);
}
:root
{
  --white: #f1f5f9;
  --yellow: #FFC60B;
  --green: #85AE85;
  --light-blue: #0A95FF;
  --dark-blue: #230AFF;
  --purple: #7766FF;
  --lilac: #AAA0FF;
  --dark-orange: #df880a;
  --chocolate: #c16a08;
  --khaki: #ffde73;
}
button {
  background-color: blue;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 0px solid black;
  border-radius: 5px 5px 0px 0px;
  margin-left: 20px;
  padding-top: 8px;
}
